In [1]:
from calibrator import *
from analysis import *
from dobbel import *
dob = dobbellogger()

In [2]:
cali = calibrate_rot_bias(dob, 1, 1, 100, 2, 125)

Leg de dobbelsteen met nummer  1  boven
Wacht 1 secondes
Logging data for 1s
Downloading data
Done! The data is located in self.datadf
Leg de dobbelsteen met nummer  2  boven
Wacht 1 secondes
Logging data for 1s
Downloading data
Done! The data is located in self.datadf
Leg de dobbelsteen met nummer  3  boven
Wacht 1 secondes
Logging data for 1s
Downloading data
Done! The data is located in self.datadf
Leg de dobbelsteen met nummer  4  boven
Wacht 1 secondes
Logging data for 1s
Downloading data
Done! The data is located in self.datadf
Leg de dobbelsteen met nummer  5  boven
Wacht 1 secondes
Logging data for 1s
Downloading data
Done! The data is located in self.datadf
Leg de dobbelsteen met nummer  6  boven
Wacht 1 secondes
Logging data for 1s
Downloading data
Done! The data is located in self.datadf

In [3]:
std_cali = cali_std(dob, 3, 100, 125)

Leg de dobbelsteen stil
Logging data for 3s
Downloading data
Done! The data is located in self.datadf

In [6]:
dob.connect()
dob.log(5, 100, 4, 1000)
dob.download()
data = dob.datadf

Logging data for 5s
Downloading data
Done! The data is located in self.datadf

In [7]:
results = run_analysis_local(data, cali, std_cali, N=10, gamma=0.001)
results.head()

Start tot oprapen =  524.0
Oprapen tot loslaten =  784.0
Loslaten tot grond =  191.0
Start tot loslaten =  1308.0
Start tot grond =  1499.0

,timestamp,x_acc,y_acc,z_acc,x_gyro,y_gyro,z_gyro,px,py,pz,...,q2,q3,psi,theta,phi,Raap tijd,Gooi tijd,Lucht tijd,Start tot los,Start tot grond
0,0.0,-0.013671,-0.000250,-0.960509,0.123258,-0.162863,-0.003349,0.000000,0.000000e+00,0.000000,...,-0.000002,0.003696,0.000010,-0.007391,-3.140245,524.0,784.0,191.0,1308.0,1499.0
1,11.0,-0.016541,0.002304,-0.968329,-0.366720,-0.467343,-0.421349,0.000002,8.809149e-07,-0.000019,...,-0.000076,0.003772,0.000157,-0.007544,-3.140161,NaN,NaN,NaN,NaN,NaN
2,21.0,-0.014468,0.002496,-0.968331,0.029769,-0.030585,-0.030142,0.000005,1.584342e-06,-0.000068,...,-0.000078,0.003782,0.000162,-0.007565,-3.140164,NaN,NaN,NaN,NaN,NaN
3,31.0,-0.014441,-0.001790,-0.967227,0.090373,0.031961,-0.002202,0.000009,5.502894e-07,-0.000149,...,-0.000079,0.003788,0.000163,-0.007575,-3.140186,NaN,NaN,NaN,NaN,NaN
4,41.0,-0.015426,0.000841,-0.966867,0.031089,-0.040409,0.055519,0.000012,6.798473e-07,-0.000262,...,-0.000074,0.003800,0.000153,-0.007600,-3.140193,NaN,NaN,NaN,NaN,NaN